<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>collect</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- Angular文件-->
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/static/css/site.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div style="float: left; height: 68px; width: 71px; "></div>
    <div style="float: left;height: 68px; width: 90%;">
        <div style="float: left;margin-left: 400px;margin-top: 20px;">
            <form action="" method="POST" name="search_text">
                <input name="searchs" style="width: 300px;" type="text" placeholder="null"/>
                <input type="button" style="height:25px" value="Search" onclick="Search_all()"/>
            </form>
        </div>
        <div style="width: 200px ;float: right; margin-top: 20px;" >
            <a href="/register">注册    </a>|<a href="/login">    登录</a> |<a href="/logout">       退出</a><p> {{ name }}</p>
        </div>
    </div>
    <div style="height: 768px;width:100%;background-image: url(/static/image/294202.jpg);">
        <div style="width: 10%; height: 100%;;float: left;">左边占位</div>
        <div style="width: 10%; height:300px;float: left;">
            <ul class=" nav nav-list ">
                <li style="width: 100%;"><a href="/welcome">主页</a></li>
                <li style="width: 100%;background-color:gainsboro"><a href="/collect">收藏</a></li>
                <li style="width: 100%;">
                    <i class="icon-hand-right"></i>
                    <a href="/message">消息</a>
                </li>
                <li class="divider"></li>
                <li style="width: 100%;"><a href="/community">社区</a></li>
                <li style="width: 100%;"><a href="/care">关注</a></li>
            </ul>
        </div>
        <div style="width: 50%; height:auto;float: left;">
            <form role="form" method="POST" action="" name="text_body">
                <div class="form-group">
                    <label for="name">今天又有什么有趣的事情呢？</label>
                    <textarea name="text" class="form-control" rows="5" placeholder="在这里输入你要发送的内容."></textarea>
                <button style="float: right;" onclick="write_null()">取消</button>
                <button style="float: right;" onclick="Add_body()">发送</button>
                </div><br/>
            </form>
        <div name="user_textinfo">
            <ul class="list-group">
                {% for i in text_info %}
                    <div style="float: left">{{ i.user }}&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp</div><div style="float: left">{{ i.createTime }}</div><br/>
                    <div style="width: 676px; height: 100px; ">{{ i.text }}</div>
                    <!--<textarea class="form-control" rows="3" disabled="disabled">{{ i.text }}</textarea> -->
                    <div style="width:230px;height: 26px">
                        <div style="float: right ;">
                            <input style="display: none;" id= "textid" value={{ i.id }} >
                            <button onclick="add_forward()"><i class="fa fa-reply-all " aria-hidden="true">{{ i.forward }}</i></button>
                            <button onclick="add_comment()"><i class="fa fa-comments " aria-hidden="true">{{ i.comment }}</i></button>
                            <button onclick="add_likes()"><i class="fa fa-thumbs-o-up " aria-hidden="true">{{ i.likes }}</i></button>
                            <button onclick="add_collection()"><i class="fa fa-star" aria-hidden="true"></i>{{ i.collection }}</button>
                        </div>
                    </div><br/>
                {% endfor %}
            </ul>
        </div>
            <div>
                {{ logging }}
            </div>
        </div>
        <div style="width: 20%; height: 500px;float: left;">
            <p>用户信息占位</p>
            <div style="width:100%;height: 200px;">
                <div style="color: red;">{{ prompt }}</div>
                <div>用户名 : {{ name }}</div>
                <div>博客数量 : {{ tweets }}</div>
                <div>被赞数：{{ praise }}</div>
                <div>关注数：{{ care }}</div>
                <div>粉丝数：{{ fans }} </div>
            </div>
        </div>
        <div style="width: 10%; height: 100%;float: left;">右边占位</div>
    </div>
</body>

</html>