<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>community</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="/static/css/site.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div style="float: left; height: 68px; width: 71px; background-image: url('');"></div>
    <div style="float: left;height: 68px; width: 90%;">
        <div style="float: left;margin-left: 400px;margin-top: 20px;">
            <form action="" method="POST" name="search_text">
            <input name="texts" style="width: 300px;" type="text" placeholder="null"/>
            <input type="submit" style="height:25px" value="Search"/>
            </form>
        </div>
        <div style="width: 200px ;float: right; margin-top: 20px;" >
            <a href="http://127.0.0.1:5000/register">Register    </a>|<a href="http://127.0.0.1:5000/login">    Login</a>
        </div>
    </div>
    <div style="height: 768px;width:100%;background-image: url(/static/image/294202.jpg);">
        <div style="width: 10%; height: 100%;;float: left;">lalala</div>
        <div style="width: 10%; height:300px;float: left;">
            <ul class=" nav nav-list ">
                <li style="width: 100%;"><a href="/welecome">Home</a></li>
                <li style="width: 100%;"><a href="/collect">Collect</a></li>
                <li style="width: 100%;">
                    <i class="icon-hand-right"></i>
                    <a href="/message">Message</a>
                </li>
                <li class="divider"></li>
                <li style="width: 100%;"><a href="/community">Community</a></li>
                <li style="width: 100%;"><a href="/care">Care</a></li>
            </ul>
        </div>
        <div style="width: 50%; height:auto;float: left;">
            <div>
                <p>Sorry ...   This pages is making ... </p>
            </div>
        </div>
        <div style="width: 20%; height: 500px;float: left;">
            <p>lalalal</p>
            <div style="width:100%;height: 200px;">
                <p>kjlnlgkl</p>
            </div>
        </div>
        <div style="width: 10%; height: 100%;float: left;">lflflfl</div>
    </div>
</body>
<script>
    function write_null(){
        pass
    }

    function commit_text(){
        pass
    }
</script>
</html>