<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welecome</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- Angular文件-->
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/static/css/site.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="bg_img">
        <p style="text-align: center"><span style="color: lightblue;">导航栏,规划中,尚未指定内容.</span></p>
        <div class="from_one">
            <form action="" method="POST" name="form1">
                <p><span style="color:dodgerblue">用户名:</span></p>
                <p><input type="text" name="username" placeholder="Username..." /></p>
                <p><span style="color:dodgerblue;">密码:</span></p>
                <p><input type="password" name="password" placeholder="Password..." /></p>
                <span>
                    <input class="btn btn-primary" type="submit" onclick="input_chick();" value="登录"/>
                    <a href="/register"><input class="btn btn-primary" style="float: right;" type="button" value="注册"/></a>
                </span>
                <p style="color:red">{{ logging }}</p>
            </form>

        </div>
        <div style="margin-left: 300px; margin-top: 120px;float: left;text-align: center">
            <span style="font-size: 25px;color:white">欢迎来到我的博客网站..</span><br/>
            <span style="font-size: 18px;color:white">也许它现在还并不完整..</span><br/>
            <span style="font-size: 18px;color:white">我相信自己能一点一点到把它做到更好..</span><br/>
            <span style="font-size: 18px;color:dodgerblue">谢谢参观.</span>
        </div>
    </div>

</body>
<script>
    function input_chick() {
        var _form = document.form1;
        if (_form.username.value.replace(/^\s*|\s*$/g, "") == "") {
            alert('用户名不能为空!');
            return;
        }
        if (_form.password.value.replace(/^\s*|s*$/g, "") == "" ){
            alert("密码不能为空!");
        }
    }

</script>
</html>