<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!-- Angular文件-->
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style>
        .bg_img{
            background-image: url("/static/image/sy_bgimg.jpg");
            height:650px;
            width:100%;
        }
        .rg_size{
            width:350px;
            height:300px;
            margin-left:40%;
            float: left;
        }
        .input_size{
            width:250px;
        }
        .font_color{
            color:white;
        }
        .yh_text{
            color: powderblue;
        }
        .div_none{
            display: none;
        }
        .div_show{
            display: block;
        }
    </style>
</head>
<body>
    <div class="bg_img">

        <div class="rg_size">
            <span style="height:200px;margin-left: 40%;" class="font_color">
                <h3>这里是注册页面</h3>
            </span>
            <form action="" method="POST" name="register">
                <p class="font_color">用户名:</p>
                <input class="input_size" type="text" name='username' placeholder="Please enter your User name." onblur="text_none()"/>
                <p class="font_color">密码:</p>
                <input class="input_size" type="password" name='password' placeholder="Please enter your Password." onblur="text_none()"/>
                <p class="font_color">邮箱:</p>
                <input class="input_size" type="email" name='email' placeholder="Please enter your Email." onblur="text_none()">
                <p class="font_color">手机号:</p>
                <input class="input_size" type="text" name='phone' placeholder="Please enter your telephone number." onblur="text_none()"/>
                <div>
                    <input type="submit" value="注册"/>
                    <input type="button" value="协议" onclick="displaytext();"/>
                    <a href="/login">返回登录</a>
                </div>
                <div style="color:darkorange; font-size: 22px;">
                    {{ logging }}
                </div>
            </form>
        </div>
        <div class="yh_text">
            <div class="div_none" id="agreement">
                <span style="font-size:25px">用户注册协议</span><br/>
                <span>     不要太在意这里写的什么</span><br>
                <span>反正我都是瞎编的,也不知道写什么好</span><br/>
                <span>但是为了美观,我需要凑足一定的字数</span><br/>
                <span>让这个页面看起来不那么到空旷,美观一点</span><br/>
                <span>好了,我也快编不下去了,就这样吧！</span><br/>
                <!--<span>This is convenient for me to help you find your account and password.</span><br/>
                <span>Do not worry about your mobile phone or mail will receive spam, we do not undertake any advertising, please rest assured.</span><br/>
                <span>It said it seems a little bit more, make do and see, finally, thank you for your registration and use.</span><br/>
                -->
                <!--<span>May not be perfect, but there will always be a good day!!!</span> -->
            </div>
        </div>
    </div>
</body>
<script>
    function displaytext(){
        if (document.getElementById('agreement').className == 'div_show'){
            document.getElementById('agreement').className='div_none';
        }
        else {
            document.getElementById('agreement').className='div_show';
        }
    }
    function text_none(){
        var _form = document.register;
        if (_form.username.value.replace(/^\s*|\s*$/g, "") == "") {
            alert('用户名不能为空!');
            return;
        }
        if (_form.password.value.replace(/^\s*|s*$/g, "") == "" ){
            alert("密码不能为空!");
            return;
        }
        if (_form.email.value.replace(/^\s*|s*$/g, "") == "" ){
            alert("邮箱不能为空!");
            return;
        }
        if (_form.phone.value.replace(/^\s*|s*$/g, "") == "" ){
            alert("手机号不能为空!");
            return;
        }
    }

</script>
</html>