<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welecome</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="/static/css/site.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div style="float: left; height: 68px; width: 71px; background-image: url(/static/image/websitelog.gif);"></div>
    <div style="float: left;height: 68px; width: 90%;">
        <div style="float: left;margin-left: 400px;margin-top: 20px;">
            <input style="width: 300px;" type="text" placeholder="null"/>
            <input type="button" style="height:25px" value="Search" onclick="search_body()"/>
        </div>
        <div style="width: 200px ;float: right; margin-top: 20px;" >
            <a>Register    </a>|<a>    Login</a>
        </div>
    </div>
    <div style="height: 500px;width:100%">
        <div style="width: 10%; height: 100%;;float: left;background-color: aqua">lalala</div>
        <div style="width: 10%; height:300px;float: left;background-color:lightcoral">
            <ul class=" nav nav-list ">
                <li style="width: 100%;"><a href="">Home</a></li>
                <li style="width: 100%;"><a href="">Collect</a></li>
                <li style="width: 100%;">
                    <i class="icon-hand-right"></i>
                    <a href="">News</a>
                </li>
                <li class="divider"></li>
                <li style="width: 100%;"><a href="">Community</a></li>
                <li style="width: 100%;"><a href="">Care</a></li>
            </ul>
        </div>
        <div style="width: 50%; height:auto;float: left;background-color: darkred">
            <form role="form">
                <div class="form-group">
                    <label for="name">There's something new about today.</label>
                    <textarea class="form-control" rows="5" placeholder="Thanks to the Bootstrap you can independently adjust the size, but please do not..."></textarea>
                </div>
                <button style="float: right;" onclick="write_null()">Cancel</button>
                <button type="submit" style="float: right;"onclick="commit_text()">Commit</button>
            </form>

        </div>
        <div style="width: 20%; height: 500px;float: left;background-color: blueviolet">
            <p>lalalal</p>
            <div style="width:100%;height: 200px; background-color: coral;">
                <p>kjlnlgkl</p>
            </div>
        </div>
        <div style="width: 10%; height: 100%;float: left;background-color: lightcoral">lflflfl</div>
    </div>
</body>
<script>
    function write_null(){
        pass
    }

    function commit_text(){
        pass
    }
    function search_body(){
        pass
    }
</script>
</html>