<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welecome</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- 可选的Bootstrap主题文件（一般不用引入） -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="/static/css/site.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div style="float: left; height: 68px; width: 71px; background-image: url(/static/image/websitelog.gif);"></div>
    <div style="float: left;height: 68px; width: 90%;"></div>
    <div style="height: 500px;width:100%">
        <div style="width: 10%; height: 100%;;float: left;background-color: aqua">lalala</div>
        <div style="width: 10%; height:300px;float: left;background-color: black">lelele</div>
        <div style="width: 50%; height:auto;float: left;background-color: darkred">lslsls</div>
        <div style="width: 20%; height: 500px;float: left;background-color: blueviolet">
            <div style="width:100%;height: 200px; background-color: coral;"> kdkdkdkdkdk</div>
        </div>
        <div style="width: 10%; height: 100%;float: left;background-color: lightcoral">lflflfl</div>
    </div>
</body>
</html>